[class*="col-"] {
  margin-bottom: 15px;
}

.scoreboard-container {
  background-image: url("./images/connectwork.png");
  color: white;
  text-align: center;
  padding: 180px 30px 30px 30px;
  margin-bottom: 35px;
  margin-top: -14px;
  font-family: "Slabo 27px", serif;
  font-size: 30px;
}

.gameboard-container {
  margin-bottom: 85px;
}

.picture-container {
  border: 5px grey solid;
}

.picture-container:hover {
  border: 5px red solid;
}
