.header {
  background-color: rgb(94, 9, 191);
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  box-shadow: 0px 5px 5px black;
  z-index: 10;
}

.nav-container li {
  display: inline-block;
  width: 33.3%;
  padding: 26px 0;
  text-align: center;
  color: white;
  font-size: 28px;
  font-family: "Slabo 27px", serif;
}

.nav-container li:first-child {
  cursor: pointer;
}

.nav-container li:first-child:hover {
  transform: scale(1.1);
}

.nav-container ul {
  margin: 0;
}
